body, select, option {
	font-family: "exo";
}

h1 {
	font-size: 100px;
	text-align: center;
}

select {
	width: 15%;
	top: 100%;
	color:black;
}

option {
	top: 100%;
	color: black;
}

.container{
	padding: 180px 0;
	text-align: center;
	position: relative;
	background-color: white;
}

.containerTop{
	top: 5px;
	height: 30px;
	position: sticky;
	padding: 180px 0;
	text-align: center;
	background-color: white;
}

.header {
	text-align: center;
	position: relative;
	top: 0px;
}

th {
	top: 38px;
	position: sticky;
	background-color: grey;
	color: white;
}

td, th {
    text-align: center;
}

