body, select, option {
	font-family: "exo";
}

h1 {
	font-size: 100px;
	text-align: center;
}

select {
	width: 15%;
}

option {
	top: 100%;
	color: black;
}

/* Homepage */
.container{
	padding: 180px 0;
	text-align: center;
	position: relative;
	background-color: white;
}

.header {
	text-align: center;
	position: relative;
	top: 0px;
}

/* Table Page */
#selectedCharName {
	left: 10px;
	top: -10px;
	position: fixed;
}

.navSelect{
	width: 160px;
	top: -35px;
	left: 175px;
}

#charFD {
	position: fixed;
	top: -10px;
	left: 300px;
}

#team {
	position: fixed;
	top: -10px;
	left: 900px;
}

/* .navText {
	display: inline;
	top: 10px;
} */

th {
	top: 43px;
	position: sticky;
	background-color: grey;
	color: white;
}

td, th {
    text-align: center;
}


